body{
	margin-top: 4em;
	margin-left: 3em;
	font-family: "helvetica";
	font-size: 1em;
	height:1em;
	background-color: #e7e7e7;
	}
	
#addButton{
	margin-top: 2em;
	font-family: "helvetica";
	text-transform:uppercase;
	color: blue;
	}
	
.title{
	font-size: 2em;
	height: 2em;
	color: #333333;
	}
	
.input{
	font-family: "helvetica";
	font-size: 2em;
	background-color:#eee;
	border: 0px solid;
	height: 1.5em;
	width:200px;
	color:#000;
	}

.listInput{
	font-family: "helvetica";
	font-size: 1em;
	background-color:#eee;
	border: 0px solid;
	height: 1.3em;
	width:200px;
	color:#000;
	}	

.notDone {
	font-size: 1em;
	}
.notDoneHover {
	color: red;
	}	
	
.done {
	font-size: 1em;
	color: gray;
	text-decoration: line-through;
	}
.doneHover {
	color: red;
	}	
	
.listItem{
	}
	
.delete{
	font-size: .8em;
	color: #666666;
	}
